<div id="navbar">
    <!--<img id="ues-logo" src="{{ url_for('static',filename='img.png')}}"  alt="logo UMB" width ="100px">-->
    <button class="btn btn-primary mt-3 ues-btn " ><i class=""></i>Inicio</button>
    <button class="btn btn-primary mt-3 ues-btn "><i class=""></i> Explorar</button>
    <button class="btn btn-primary mt-3 ues-btn " ><i class=""></i>Notificasiones</button>
    <button class="btn btn-primary mt-3 ues-btn " ><i class=""></i>Mensajes</button>
    <button class="btn btn-primary mt-3 ues-btn " ><i class=""></i>Perfil</button>
</div>