{% extends 'main.html'%}

{% block cabecera %}
        <title>Administrador</title>
{% endblock %}
    
{% block cuerpo %}
<h2 id="title">Seccion de administrador</h2>
    <div class="text-center">
                <h5>Tabla de Eventos.<h5>
                    <div class="card-body">
                        <table class="table table-responsive-sm table-striped" id="tbl_doc">
                            <thead class="thead-inverse">
                                <tr class="text-center">
                                    <th>ID</th>
                                    <th>Nombre</th>
                                    <th>fecha</th>
                                    <th>Lugar</th>
                                    <th>Acciones</th>
                                </tr>
                            </thead> 
                            <tbody>
                                {%for client in list_cliente%}
                                  <tr>
                                    <td>{{client.id}}</td>
                                    <td>{{client.nombre}}</td>
                                    <td>{{client.apellidos}}</td>
                                    <td>{{client.n_persona}}</td>
                                    <td>{{client.fecha}}</td>
                                    <td>{{client.telefono}}</td>
                                    <td> <a href="{{url_for('eliminar')}}">Eliminar</a>
                                        <a href="{{url_for('actualizar')}}">Actualizar</a>
                                      </td>
                                </tr>
                                {%endfor%}
                            </tbody>
                        </table>
                        </div>
    </div>
    {% endblock %}

    <!--, id=client.id-->