<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{url_for('static',filename='bootstrap.css')}}">
    <link rel="Stylesheet" href="{{url_for('static',filename='bootstrap.bundle.js')}}">
    <link rel="Stylesheet" href="{{url_for('static',filename='bootstrap-icons.css')}}">
    <link rel="Stylesheet" href="{{url_for('static',filename='custom.css')}}">

    {%block titulo%}

    <title>Eventos Escolares</title>

    {%endblock%}
  </head>
  <body>

    {%block cuerpo%}

          <!-- ougpui -->

    {%endblock%}
    <script src="{{url_for('static',filename='bootstrap.bundle.js')}}">

    </script>

  </body>
</html>